[Desktop Entry]
Encoding=UTF-8
Name=Meowcoin Core
Comment=Connect to the Meowcoin P2P Network
Comment[de]=Verbinde mit dem Meowcoin peer-to-peer Netzwerk
Comment[fr]=Meowcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Meowcoin, eşten eşe kriptografik sanal para birimi
Exec=meowcoin-qt %u
Terminal=false
Type=Application
Icon=meowcoin128
MimeType=x-scheme-handler/meowcoin;
Categories=Office;Finance;
