[Unit]
Description=Meowcoin's distributed currency daemon
After=network.target

[Service]
User=meowcoin
Group=meowcoin

Type=forking
PIDFile=/var/lib/meowcoind/meowcoind.pid
ExecStart=/usr/bin/meowcoind -daemon -pid=/var/lib/meowcoind/meowcoind.pid \
-conf=/etc/meowcoin/meowcoin.conf -datadir=/var/lib/meowcoind -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
